/* FireRedz: All collab CSS should use the same classes, but if its unique enough then I guess its fine. */

/* Collab */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.grid-entry {
    text-align: center;
    border: 1px solid var(--not-so-bright-color);
    overflow: hidden;
    height: 300px;
}

.image {
    width: auto;
    height: 300px;
}

.image-info {
    transition: all 0.2s ease;
    font-size: 15px;
    width: 300px;
    text-align: center;
    background-color: #1a1a1a;
    opacity: 0.85;
    position: sticky;
    transform: translate(0%, -105%);
    text-shadow: 0 5px 5px #000, 0 5px 5px #000;
    z-index: 1;
}

.image-info:hover {
    font-size: 13px;
    opacity: 0.3;
}


/* SinoAlice collab */
.grid-entry-sino {
    text-align: center;
    border: 1px solid var(--not-so-bright-color);
    overflow: hidden;
    height: 300px;
    width: 400px;
    transition: all 0.5s ease;
}

.grid-entry-sino:hover {
    width: 500px;
    height: 300px
}

.image-sino {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin: auto;
}

.image-info-sino {
    transition: all 0.2s ease;
    font-size: 15px;
    width: auto;
    text-align: center;
    background-color: #1a1a1a;
    opacity: 0.85;
    position: sticky;
    transform: translate(0%, -105%);
    text-shadow: 0 5px 5px #000, 0 5px 5px #000;
    z-index: 1;
}

.image-info-sino:hover {
    font-size: 24px;
    opacity: 1.0;
}