/* Fonts */
@font-face {
    font-family: "Unifont";
    src: url("../../assets/fonts/unifont-13.0.04.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Colors and Fonts */
:root {
    --font: Unifont;

    /* TODO: Need better color scheme */
    /* Currently is based on junko.konno.tk color */
    --darkest-color: #3C4048;
    --not-so-dark-color: #202123;
    --middle-color: #B2B2B2;
    --not-so-bright-color: #F2E7D5;
    --brightest-color: #F7F7F7;
}

body {
    font-family: var(--font);
    background-color: var(--darkest-color);
}

/* Components */
.nav {
    text-align: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content {
    align-content: center;
    text-align: center;
    font-size: 14pt;
    margin-top: 15px;
}

.links {
    margin-top: 20px;
}

.links a {
    color: var(--not-so-bright-color);
}

.hibiki-main {
    /* Image */
    background-image: url("../images/hibiki-main.png");
    background-repeat: no-repeat;
    background-size: contain;

    /* Position */
    position: relative;
    width: 252px;
    height: 248px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.hibiki {
    /* Image */
    background-image: url("../images/hibiki-side.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.75;

    /* Position */
    z-index: -1;
    position: fixed;
    width: 311px;
    height: 512px;
    right: 0px;
    bottom: 0px;
}

/* Text styles */
a,
p,
h1,
h2,
h3,
h4,
h5 {
    text-decoration: none;
    color: var(--brightest-color)
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 400;
}

.underline {
    text-decoration: underline;
}

.lowkey {
    color: var(--middle-color);
    opacity: 0.5;
    font-size: 12pt;
}